*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
/*
1. Tu ngoai ao trong
2. Tu tren xuong duoi
3. Tong quan den chi tiet
*/
/*
1.VI TRI
2. Kich thuoc
3. Mau sac
4. Kieu dang
*/


#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;
    /*loi k full man hinh
    overflow: hidden;
    */
    
}
#nav{
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none;
}
#nav > li {
    display: inline-block;
}
#nav li{
    position: relative;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
    background-color: cadetblue;
    color: #000;
}
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
    
}

#nav li a {
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
    
}



#nav .subnav a{
    color: #000;
    padding: 0 16px;
    
}

#nav .subnav {
    min-width: 160px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    
}
#nav{
    display: inline-block;
}
#nav .nav-arrow-down{
    font-size: 14px;
}
#header .mobile-menu-btn:hover{
    background-color: #ccc;
}
#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}
#header .mobile-menu-btn{
    right: 0;
    top: 0;
    position: absolute;
    display: none;
}
#header .search-btn:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.767);
}
.mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
    
}
#header .menu-icon ,
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/chicago.jpg') top center  / cover no-repeat;
}
#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;
    /*text-align: center;
    left: 50%;
    transform: translateX(-50%);
    */
    width: 100%;
    text-align: center;
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 25px;

}
#slider .text-description{
    font-size: 15px;
}


#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;

}
#content .section-heading{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 4px;
}
#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}
#content .about-text{
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}
#content .member-list{
    margin-top: 48px;
    
}

#content .member-name{
    font-size: 15px;
    
    line-height: 1.5;
}
#content .member-img{
    width: 154px;
    margin-top: 15px;
    border-radius: 5px;
}
.clear{
    clear: both;
}
.text-center{
    text-align: center !important;
}
.tour-section{
    background-color: #000;
    color: #fff;
}

.ticket-list{
    background-color: #fff;
    color: #000;
    margin-top: 40px;
    

}

.ticket-list li{
    color: #757575;
    font-size: 15px;
    padding: 6px 16px;
    border-bottom: 1px solid #ddd;
    list-style-type: none;
    
}
.ticket-list .sold-out{
    background-color: rgb(248, 53, 4);
    padding: 3px 4px;
    margin-left: 16px;
    color: #fff;
}
.ticket-list .quantity{
    float: right;
    background-color: #000;
    margin-top: 0;
    margin-bottom: 0;
   
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    color:#fff;
    
}

.place-list{
    margin-top: 32px;
   
   
}

.place-img:hover {
    opacity: 0.6;
}
.place-img{
    width: 100%;
    display: block;
}
.place-content{
    color: black;
    background-color: #fff;
    padding: 16px;
    
    
}
.place-heading{
    font-size: 15px;
    font-weight: 600;
    
}
.place-time{
    font-style: italic;
    color: #757575;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
.place-desc{
    line-height: 1.4;
    
}
.btn:hover{
    background-color:#ccc ;
}
.btn{
    background-color: #000;
    padding: 11px 16px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    

}
.pull-right{
    float: right !important;
}


.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: #000;
    
    align-items: center;
    justify-content: center;
    display: none;

}
.modal.open{
    display: flex;
}
.modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}
.modal-close:hover{
    opacity: 1;
}
.modal-close{
    position: absolute;
    right: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.9;
    
}
.modal-header > i{
    margin-right: 16px;
}
.modal .modal-header{
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 4px;
    
}
.modal-body{
    padding: 16px;
    font-weight: 700;
}
.modal-body .modal-ipnut{
    width: 100%;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #000;
    

}

#buy-ticket:hover{
    opacity: 0.6;
}

#buy-ticket{
    width: 100%;
    background-color: #046b61;
    padding: 18px;
    border: 1px solid #046b61;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}
.modal-ipnut{
    letter-spacing: 1px;
    padding: 10px;
    font-size: 15px;
}

.modal-footer {
    text-align: right;
    padding: 20px;
    font-weight: 400;
    
}
.modal-footer a{
    color: rgb(0, 153, 255);
}
@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.row{
    margin-left: -8px;
    margin-right: -8px;
    

}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;

}
.col-third{
    width: 33.33333%;
}
.col-halt{
    width: 50%;
}
.col-full{
    width: 100%;
}
.contact-content{
    margin-top: 48px;

}
.contact-info{
    font-size: 18px;
    line-height: 1.5;

}
.contact-info  i{
    width: 30px ;
    display: inline-block;
}
.contact-form{
    font-size: 15px;

}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.contact-form .form-control{
    padding: 11px;
    border: 1px solid #ccc;
    width: 100%;

}
.map-section img{
    width: 100%;
}
#footer{
    padding: 64px 16px;
    text-align: center;
    
}
#footer .social-list{
    font-size: 24px;
    
}
#footer .social-list a:hover{
    color: rgba(0,0,0,0.5);
}
#footer .social-list a{
    text-decoration: none;
    color: rgba(0,0,0,0.6);

}
#footer .copyright{
    margin-top: 15px;
    color: rgba(0,0,0,0.6);
}
#footer .copyright a{
    color: rgba(0,0,0,0.6);
}

/*responive*/
@media(min-width:740px) and (max-width:1023px){
    .btn{
        padding: 15px 16px;
    }
    .form-control{
        padding: 15px;
    }


}
/*mobi*/
@media(max-width:740px){
    .s-full-width{
        width: 100% !important;
    }
    #nav > li:first-child{
       display: inline-block;
    }
    #nav {
        display: block;
    }
    #nav .subnav{
        position: initial;
        background-color: #333;
    }
    #nav .subnav a{
        color: #fff;
        padding: 0 41px;
    }
    #nav li a{
        padding: 1px 24px;
    }
    #nav > li{
        display: block;
    }
    #header{
        overflow: hidden;
    }
    
    #header .mobile-menu-btn{
        right: 0;
        top: 0;
        position: absolute;
        display: block;
    }
    #header .search-btn{
        display:none;
    }
    .col{
        float: initial;
        
    
    }
    .col-third{
        width: 100%;
    }
    .contact-form{
        margin-top: 10px;
    }
    .top-8{
        margin-top: 8px;
    }
    .col-halt{
        width: 100%;
    }
    
    

}
